.container {
  width: 50%;

  margin: 0 auto;
}

.box-container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

form {
  display: table;
}
form > div {
  display: table-row;
}
label {
  display: table-cell;
  padding-right: 10px;
}
input {
  display: table-cell;
}
